.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container {
  width: 50%;
  margin: 0 auto;
}

.text-area-container {
  text-align: right;
}
.post-submit-btn {
  margin-top: 1em !important;
  width: 50%;
}
